<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/error.css">
  <title>Link Expired</title>
</head>
<body>

    <div class="alert" id="fail-alert">
    <dotlottie-player src="https://lottie.host/f83f91be-b8b1-4360-b404-a7bb3441ba07/WUvLRS3UwR.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></dotlottie-player>
    <div class="message">
        <h1>Link is Expired or Invalid!</h1>
        <p>We're sorry, but the password reset link you used is either expired or invalid. Password reset links are time-sensitive for security reasons.
          If you still need to reset your password, please initiate the password reset process again.
        </p>
        <a href="http://127.0.0.1:3000/reset">Go to Reset Page</a>

        </div>
    </div>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
</body>
</html>
