<!-- views/reset_password.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <title>Password Reset</title>
</head>
<body>

    <div class="alert" id="success-alert">
        <dotlottie-player src="https://lottie.host/37298fd2-0cbc-495a-b54c-1c7dea16333f/rUMh2LfEE9.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        <div class="message">
        <h1>Password Reset Successful!</h1>
        <p>Your password has been successfully reset. You can now use your new password to log in to your account. If you have any further questions or need assistance, please feel free to contact our support team.
        </p>
        <a href="http://127.0.0.1:3000/login">Go to Login Page</a>

        </div>
    </div>

    <div class="reset" id="rest-form">
        <div class="content">
            <h2><span>SnapNotes</span> Password Reset</h2>
            <p> Enter your new password below to regain access to your account</p>
            <img src="/image/password.png" alt="lock-image">
        </div>

        <form class="form">
          <input id="token" type="hidden" name="token" value="<%= token %>">
          <label>Account Details</label>
          <p>Username: <%= username %></p>
          <p>Email: <%= email %></p>
          <label for="new_password">New Password</label>
          <input id="password" type="password" name="new_password" required>
          <label for="confirm new_password">Confirm New Password</label>
          <input id="confirm-password" type="password" name="confirm new_password" required>
          <div class="show">
              <input type="checkbox" onclick="showpass()"> Show Password
          </div>
          <button type="button" onclick="updatepassword()">Reset Password</button>
        </form>
    </div>

    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
  <script src="/js/reset.js"></script>
</body>
</html>
